.characters {
  width: 100%;
  height: 100%;
  margin: 0 auto 100px;
  display: grid;
  grid-auto-rows: 360px;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-gap: 30px;
}

.character {
  position: relative;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  background: #ffffff;
  padding: 25px 20px;
  box-shadow: -10px 15px 30px rgba(9, 4, 21, 0.08);
  border: 3px solid transparent;
  overflow: hidden;
  transition: all 0.3s ease-out;

  &:nth-child(2n + 1) {
    margin-top: 100px;
  }

  &__name {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 5px;

    span {
      color: var(--primary);
      font-weight: 700;
    }
  }

  &__status {
    position: relative;
    padding: 8px 10px 8px 22px;
    border-radius: 100px;
    font-size: 13px;
    background: rgba(244, 5, 41, 0.2);
    color: rgb(244, 5, 41);

    &::before {
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      content: '';
      height: 7px;
      width: 6px;
      display: block;
      border-radius: 1000px;
      background: rgb(244, 5, 41);
    }

    &.alive {
      background: #0e830d20;
      color: #0e830d;

      &::before {
        background: rgb(3, 168, 78);
      }
    }
  }

  &__location {
    margin-top: 15px;
    display: flex;
    align-items: center;
    opacity: 0.5;
    color: var(--black);

    svg {
      height: 16px;
      width: auto;
      margin-right: 5px;
    }
    span {
      font-size: 12px;
      font-weight: 700;
    }
  }

  &__state {
    position: absolute;
    left: 15px;
    bottom: 20px;
    cursor: pointer;

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 36px;
      width: 36px;
      border-radius: 100%;
      background: var(--primary);

      svg {
        height: 16px;
        position: relative;
        left: 0;
        transition: left 0.3s ease-in;
      }

      &:hover svg {
        left: 3px;
        transition: left 0.3s ease-out;
      }
    }
  }

  &__image {
    position: absolute;
    right: -35px;
    bottom: -35px;
    height: 230px;
    width: 230px;
    border-radius: 100%;
    border: 4px solid var(--primary);

    img {
      height: 100%;
      width: 100%;
      border-radius: 100%;
      object-fit: cover;
      filter: grayscale(100%);
      transition: filter 0.3s ease-out;
    }
  }

  &:hover {
    top: -10px;
    border-color: var(--primary);
    box-shadow: -10px 15px 30px rgba(9, 4, 21, 0.2);
    transition: all 0.3s ease-in;

    .character-card__image img {
      filter: none;
      transition: filter 0.3s ease-in;
    }
  }
}

@media (max-width: 600px) {
  .characters {
    width: 100%;
    margin-bottom: 0;
  }

  .character {
    &:nth-child(2n + 1) {
      margin-top: 0;
    }
  }
}
