.header {
  background-color: var(--bg);
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;

  &__title {
    font-size: 2rem;
  }
}

.logo {
  img {
    height: 64px;
    width: auto;
  }
}
.search {
  height: 55px;
  display: flex;
  align-items: center;
  position: relative;

  input {
    height: 100%;
    min-width: 300px;
    border-radius: 12px;
    padding: 15px;
    font-size: 1rem;
    font-weight: 700;
    font-family: "Comfortaa", sans-serif;
    border: 2px solid transparent;
    box-shadow: -10px 15px 30px rgba(9, 4, 21, 0.08);
    outline: none;
    transition: border 0.3s ease-out;

    &::placeholder {
      opacity: 0.7;
      font-weight: 400;
    }

    &:hover {
      border-color: #cccccc;
      transition: border 0.3s ease-in;
    }

    &:focus {
      border-color: var(--primary);
      transition: border 0.3s ease-in;
    }
  }

  span {
    position: absolute;
    right: 20px;
    top: 15px;

    img {
      height: 24px;
      width: auto;
    }
  }

  button {
    margin-left: 10px;
    height: 100%;
    padding: 0 30px;
    border: none;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary);
    color: #ffffff;
    font-size: 1rem;
    font-weight: 700;
    font-family: "Comfortaa", sans-serif;
    position: relative;
    top: 0;
    transition: all 0.3s ease-out;
    cursor: pointer;

    &:hover {
      box-shadow: -10px 15px 30px rgba(9, 4, 21, 0.08);
      top: -5px;
      transition: all 0.3s ease-in;
    }
  }
}


@media (prefers-reduced-motion: no-preference) {
  .search span {
    animation: spin infinite 1.5s linear;
  }
}

@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
